 @font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 700;
    src:local('Spoqa Han Sans Bold'),
        url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 500;
    src:local('Spoqa Han Sans Medium'),
        url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 400;
    src:local('Spoqa Han Sans Regular'),
        url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 300;
    src:local('Spoqa Han Sans Light'),
        url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Spoqa Han Sans';
    font-weight: 100;
    src:local('Spoqa Han Sans Thin'),
        url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.ttf') format('truetype');
}
@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 700;
    src:local('Spoqa Han Sans Bold'),
        url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 500;
    src:local('Spoqa Han Sans Medium'),
        url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 400;
    src:local('Spoqa Han Sans Regular'),
        url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 300;
    src:local('Spoqa Han Sans Light'),
        url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Spoqa Han Sans Neo';
    font-weight: 100;
    src:local('Spoqa Han Sans Thin'),
        url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/spoqa/spoqa-han-sans@3.1.0/Subset/SpoqaHanSansNeo/SpoqaHanSansNeo-Thin.ttf') format('truetype');
}


@font-face {
    font-family: GothamPro;
    src:url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-Light.eot);
    src:url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-Light.woff2) format("woff2"),
        url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-Light.woff) format("woff"),
        url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-Light.ttf) format("truetype"),
        url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-Light.svg#GothamPro-Light) format("svg"),
        url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-Light.eot?#iefix) format("embedded-opentype");
    font-weight: 100;
    font-style: normal;
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: GothamPro;
    src:url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-LightItalic.eot);
    src:url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-LightItalic.woff2) format("woff2"),
        url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-LightItalic.woff) format("woff"),
        url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-LightItalic.ttf) format("truetype"),
        url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-LightItalic.svg#GothamPro-LightItalic) format("svg"),
        url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-LightItalic.eot?#iefix) format("embedded-opentype");
    font-weight: 100;
    font-style: italic;
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: GothamPro;
    src:url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro.eot);
    src:url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro.woff2) format("woff2"),
        url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro.woff) format("woff"),
        url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro.ttf) format("truetype"),
        url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro.svg#GothamPro) format("svg"),
        url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro.eot?#iefix) format("embedded-opentype");
    font-weight: 200;
    font-style: normal;
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: GothamPro;
    src:url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-Italic.eot);
    src:url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-Italic.woff2) format("woff2"),
        url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-Italic.woff) format("woff"),
        url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-Italic.ttf) format("truetype"),
        url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-Italic.svg#GothamPro-Italic) format("svg"),
        url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-Italic.eot?#iefix) format("embedded-opentype");
    font-weight: 200;
    font-style: italic;
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: GothamPro;
    src:url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-Medium.eot);
    src:url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-Medium.woff2) format("woff2"),
        url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-Medium.woff) format("woff"),
        url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-Medium.ttf) format("truetype"),
        url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-Medium.svg#GothamPro-Medium) format("svg"),
        url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-Medium.eot?#iefix) format("embedded-opentype");
    font-weight: 400;
    font-style: normal;
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: GothamPro;
    src:url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-MediumItalic.eot);
    src:url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-MediumItalic.woff2) format("woff2"),
        url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-MediumItalic.woff) format("woff"),
        url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-MediumItalic.ttf) format("truetype"),
        url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-MediumItalic.svg#GothamPro-MediumItalic) format("svg"),
        url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-MediumItalic.eot?#iefix) format("embedded-opentype");
    font-weight: 400;
    font-style: italic;
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: GothamPro;
    src:url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-Bold.eot);
    src:url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-Bold.woff2) format("woff2"),
        url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-Bold.woff) format("woff"),
        url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-Bold.ttf) format("truetype"),
        url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-Bold.svg#GothamPro-Bold) format("svg"),
        url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-Bold.eot?#iefix) format("embedded-opentype");
    font-weight: 600;
    font-style: normal;
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: GothamPro;
    src:url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-BoldItalic.eot);
    src:url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-BoldItalic.woff2) format("woff2"),
        url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-BoldItalic.woff) format("woff"),
        url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-BoldItalic.ttf) format("truetype"),
        url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-BoldItalic.svg#GothamPro-BoldItalic) format("svg"),
        url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-BoldItalic.eot?#iefix) format("embedded-opentype");
    font-weight: 600;
    font-style: italic;
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: GothamPro;
    src:url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-Black.eot);
    src:url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-Black.woff2) format("woff2"),
        url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-Black.woff) format("woff"),
        url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-Black.ttf) format("truetype"),
        url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-Black.svg#GothamPro-Black) format("svg"),
        url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-Black.eot?#iefix) format("embedded-opentype");
    font-weight: 800;
    font-style: normal;
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: GothamPro;
    src:url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-BlackItalic.eot);
    src:url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-BlackItalic.woff2) format("woff2"),
        url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-BlackItalic.woff) format("woff"),
        url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-BlackItalic.ttf) format("truetype"),
        url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-BlackItalic.svg#GothamPro-BlackItalic) format("svg"),
        url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/GothamPro-BlackItalic.eot?#iefix) format("embedded-opentype");
    font-weight: 800;
    font-style: italic;
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/*
@font-face {
	font-family: 'Gotham';
	src:url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/GothamRounded-Light.eot');
	src:url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/GothamRounded-Light.eot?#iefix') format('embedded-opentype'),
		url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/GothamRounded-Light.woff2') format('woff2'),
		url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/GothamRounded-Light.woff') format('woff'),
		url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/GothamRounded-Light.ttf') format('truetype'),
		url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/GothamRounded-Light.svg#GothamRounded-Light') format('svg');
	font-weight: 300;
	font-style: normal;
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: 'Gotham';
	src:url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/GothamRounded-Medium.eot');
	src:url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/GothamRounded-Medium.eot?#iefix') format('embedded-opentype'),
		url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/GothamRounded-Medium.woff2') format('woff2'),
		url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/GothamRounded-Medium.woff') format('woff'),
		url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/GothamRounded-Medium.ttf') format('truetype'),
		url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/GothamRounded-Medium.svg#GothamRounded-Medium') format('svg');
	font-weight: normal;
	font-style: normal;
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: 'Gotham';
	src:url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/GothamRounded-Bold.eot');
	src:url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/GothamRounded-Bold.eot?#iefix') format('embedded-opentype'),
		url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/GothamRounded-Bold.woff2') format('woff2'),
		url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/GothamRounded-Bold.woff') format('woff'),
		url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/GothamRounded-Bold.ttf') format('truetype'),
		url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/GothamRounded-Bold.svg#GothamRounded-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
*/
/*
@font-face {
	font-family: 'Gotham Rounded Book';
	src:url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/GothamRounded-Book.eot');
	src:url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/GothamRounded-Book.eot?#iefix') format('embedded-opentype'),
		url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/GothamRounded-Book.woff2') format('woff2'),
		url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/GothamRounded-Book.woff') format('woff'),
		url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/GothamRounded-Book.ttf') format('truetype'),
		url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/GothamRounded-Book.svg#GothamRounded-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham Rounded';
	src:url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/GothamRounded-Medium.eot');
	src:url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/GothamRounded-Medium.eot?#iefix') format('embedded-opentype'),
		url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/GothamRounded-Medium.woff2') format('woff2'),
		url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/GothamRounded-Medium.woff') format('woff'),
		url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/GothamRounded-Medium.ttf') format('truetype'),
		url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/GothamRounded-Medium.svg#GothamRounded-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham Rounded Light';
	src:url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/GothamRounded-Light.eot');
	src:url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/GothamRounded-Light.eot?#iefix') format('embedded-opentype'),
		url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/GothamRounded-Light.woff2') format('woff2'),
		url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/GothamRounded-Light.woff') format('woff'),
		url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/GothamRounded-Light.ttf') format('truetype'),
		url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/GothamRounded-Light.svg#GothamRounded-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham Rounded Bold';
	src:url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/GothamRounded-Bold.eot');
	src:url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/GothamRounded-Bold.eot?#iefix') format('embedded-opentype'),
		url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/GothamRounded-Bold.woff2') format('woff2'),
		url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/GothamRounded-Bold.woff') format('woff'),
		url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/GothamRounded-Bold.ttf') format('truetype'),
		url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/GothamRounded-Bold.svg#GothamRounded-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Varela Round';
	src:url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/VarelaRound.eot');
	src:url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/VarelaRound.eot?#iefix') format('embedded-opentype'),
		url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/VarelaRound.woff2') format('woff2'),
		url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/VarelaRound.woff') format('woff'),
		url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/VarelaRound.ttf') format('truetype'),
		url('https://cdn.jsdelivr.net/npm/gotham-fonts@1.0.3/fonts/VarelaRound.svg#VarelaRound') format('svg');
	font-weight: normal;
	font-style: normal;
}
*/