@charset "UTF-8";

/* ============================== main ============================== */
#headerWrap.main:not(.hover):not(.scrollBg) #header{border-bottom:1px solid rgba(255, 255, 255, 0.1);background:none;-webkit-transition:all .3s ease;transition:all .3s ease;}
#headerWrap.main:not(.hover):not(.scrollBg) #header .logo a{background-image:url("../images/common/logo_main.png");}
#headerWrap.main:not(.hover):not(.scrollBg) #header .btnMenu span{background:#fff;}
#headerWrap.main:not(.hover):not(.scrollBg) #header .btnMenu span:before, #headerWrap.main:not(.hover):not(.scrollBg) #header .btnMenu span:after{background:#fff;}
#headerWrap.main:not(.hover):not(.scrollBg) .gnbWrap .gnb > ul > li > a{color:#ffffff;}
#headerWrap.main:not(.hover):not(.scrollBg) .gnbWrap .gnb > ul > li > a.on, #headerWrap.main:not(.hover):not(.scrollBg) .gnbWrap .gnb > ul > li > a:hover{color:#ffc001;}
#headerWrap.main:not(.hover):not(.scrollBg) .gnbWrap .util > a{color:#fff;}
#headerWrap.main:not(.hover):not(.scrollBg) .gnbWrap .util .language a.on{color:#fff;}
#container.main{margin-top:0;margin-bottom:0;}
[class*=mainSec]{position:relative;}
[class*=mainSec] .textBox{color:#fff;word-break:break-all;}
[class*=mainSec] .textBox h1{font-size:80px;letter-spacing:-0.02em;line-height:1.18;}
[class*=mainSec] .textBox .text{margin-top:30px;font-size:18px;}
[class*=mainSec] a.textBox{display:block;}
[class*=mainSec]:after{content:'';display:block;clear:both;}
.mainSec01 .visualBg{position:fixed;top:0;overflow:hidden;width:100%;height:100%;background:url("../images/main/main-poster.png") no-repeat center center;background-size:cover;}
.mainSec01 .visualBg video{position:absolute;top:50%;left:50%;width:100%;height:100%;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%);}
.mainSec01 .visualBg .mask{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0, 0, 0, 0.6);}
.mainSec01 .innerBox{padding-top:80px;}
.mainSec01 .textBox h1{font-size:100px;}
.mainSec01 .textBox .text{margin-top:35px;}
.mainSec01 .mainSwiper .slideItem{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;height:calc(100vh - 80px);min-height:500px;color:#fff;}
.mainSec01 .mainSwiper .slideItem .tit{overflow:hidden;}
.mainSec01 .mainSwiper .slideItem .tit > strong{display:block;font-size:80px;line-height:1.375;opacity:0;-webkit-transform:translateY(100%);transform:translateY(100%);-webkit-transition:all 0.5s 0.2s;transition:all 0.5s 0.2s;}
.mainSec01 .mainSwiper .slideItem .txt{overflow:hidden;line-height:2.33;margin-top:35px;}
.mainSec01 .mainSwiper .slideItem .txt > div{opacity:0;-webkit-transform:translateY(100%);transform:translateY(100%);-webkit-transition:all 0.5s 0.4s;transition:all 0.5s 0.4s;}
.mainSec01 .mainSwiper .slideItem .link{margin-top:45px;overflow:hidden;}
.mainSec01 .mainSwiper .slideItem .link > a{display:inline-block;color:#ffc001;opacity:0;-webkit-transform:translateY(100%);transform:translateY(100%);-webkit-transition:all 0.5s 0.6s;transition:all 0.5s 0.6s;}
.mainSec01 .mainSwiper .slideItem .link > a:after{content:'';display:block;width:61px;height:16px;margin-top:22px;background:url(../images/main/main-link-arr.png) no-repeat center center;background-size:contain;}
.mainSec01 .mainSwiper .swiper-slide-active .slideItem .tit > strong{opacity:1;-webkit-transform:translateY(0);transform:translateY(0);}
.mainSec01 .mainSwiper .swiper-slide-active .slideItem .txt > div{opacity:1;-webkit-transform:translateY(0);transform:translateY(0);}
.mainSec01 .mainSwiper .swiper-slide-active .slideItem .link > a{opacity:1;-webkit-transform:translateY(0);transform:translateY(0);}
.mainSec01 .mainSwiper .swiper-navi{position:absolute;left:0;bottom:80px;z-index:2;}
.mainSec01 .mainSwiper .swiper-button-prev, .mainSec01 .mainSwiper .swiper-button-next{position:relative;width:18px;height:32px;top:auto;margin:0;left:auto;right:auto;float:left;background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='18px' height='32px'%3E%3Cpath fill-rule='evenodd' fill='rgb(255, 255, 255)' d='M17.994,29.393 L15.424,31.993 L0.006,16.393 L0.396,15.999 L0.006,15.604 L15.424,0.005 L17.994,2.605 L4.756,15.999 L17.994,29.393 Z'/%3E%3C/svg%3E") no-repeat center;background-size:contain;}
.mainSec01 .mainSwiper .swiper-button-prev:after, .mainSec01 .mainSwiper .swiper-button-next:after{content:none;}
.mainSec01 .mainSwiper .swiper-button-prev.swiper-button-disabled, .mainSec01 .mainSwiper .swiper-button-next.swiper-button-disabled{opacity:0.6;}
.mainSec01 .mainSwiper .swiper-button-next{-webkit-transform:rotate(180deg);transform:rotate(180deg);margin-left:64px;}
.mainSec01 .mainSwiper .swiper-control{display:-webkit-box;display:-ms-flexbox;display:flex;height:32px;position:absolute;right:0;bottom:80px;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;color:#fff;z-index:2;}
.mainSec01 .mainSwiper .swiper-pagination{position:relative;left:auto;bottom:auto;width:auto;font-size:15px;color:#aaa;z-index:auto;}
.mainSec01 .mainSwiper .swiper-pagination .swiper-pagination-current{font-weight:bold;color:#fff;margin-right:16px;}
.mainSec01 .mainSwiper .swiper-pagination .swiper-pagination-total{margin-left:16px;}
.mainSec01 .mainSwiper .swiper-auto-ctl{position:relative;display:inline-block;width:14px;height:16px;padding:0;vertical-align:middle;overflow:hidden;margin-left:36px;}
.mainSec01 .mainSwiper .swiper-auto-ctl:before, .mainSec01 .mainSwiper .swiper-auto-ctl:after{content:'';display:block;position:absolute;top:0;height:100%;border:1px solid transparent;border-width:0 0 0 4px;border-left-color:#fff;-webkit-transition:0.3s;transition:0.3s;}
.mainSec01 .mainSwiper .swiper-auto-ctl:before{left:0px;}
.mainSec01 .mainSwiper .swiper-auto-ctl:after{right:0px;}
.mainSec01 .mainSwiper .swiper-auto-ctl.play:before{left:1px;border-width:8px 0 8px 12px;height:0;}
.mainSec01 .mainSwiper .swiper-auto-ctl.play:after{border-width:0;border-left-color:transparent;}
.mainSec02 > div:after{content:'';display:block;clear:both;}
.mainSec02 > div.sec1{background:rgba(17, 24, 56, 0.9);padding:150px 0;}
.mainSec02 > div.sec2{background:#ffc001;}
.mainSec02 .textBox{float:left;width:45.1429%;padding-right:20px;margin-top:9.6428%;}
.mainSec02 .textBox .text:after{content:'';display:block;width:61px;height:16px;margin-top:22px;background:url(../images/main/main-link-arr.png) no-repeat center center;background-size:contain;}
.mainSec02 .textBox:hover .text:after{-webkit-animation:mainArrRight 1.5s infinite;animation:mainArrRight 1.5s infinite;}
.mainSec02 .imgBox{float:right;width:54.8571%;}
.mainSec02 .imgBox:after{content:'';display:block;clear:both;}
.mainSec02 .imgBox li{padding:20px;width:50%;}
.mainSec02 .imgBox li:first-child{padding-top:0;}
.mainSec02 .imgBox li:first-child + li{padding-top:23.3%;}
.mainSec02 .imgBox li:last-child{padding-bottom:0;}
.mainSec02 .imgBox li:nth-child(odd){float:left;padding-left:0;}
.mainSec02 .imgBox li:nth-child(even){float:right;padding-right:0;}
.mainSec02 .imgBox .box{display:block;position:relative;overflow:hidden;}
.mainSec02 .imgBox .box img{width:100%;-webkit-transition:1s;transition:1s;}
.mainSec02 .imgBox .box:hover img{-webkit-transform:scale(1.15);transform:scale(1.15);}
.mainSec02 .imgBox .box .txt{position:absolute;left:0;bottom:0;width:100%;padding:13.73%;color:#fff;}
.mainSec02 .imgBox .box .txt strong{display:block;font-size:24px;margin-bottom:17px;}
.mainSec02 .imgBox .box .txt div{font-weight:300;text-transform:uppercase;}
.mainSec02 .sec2{padding:84px 0;}
.mainSec02 .sec2 .innerBox{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;}
.mainSec02 .sec2 .innerBox .link a{display:inline-block;font-size:34px;}
.mainSec02 .sec2 .innerBox .link a:after{content:'';display:block;width:61px;height:16px;margin-top:20px;background:url(../images/main/main-link-arr2.png) no-repeat center center;background-size:contain;}
.mainSec02 .sec2 .innerBox .link a:hover:after{-webkit-animation:mainArrRight 1.5s infinite;animation:mainArrRight 1.5s infinite;}
.mainSec02 .sec2 .innerBox .txt{line-height:1.55;padding-left:20px;}
.mainSec03{background:#fff;padding:130px 0 150px;}
.mainSec03 .textBox{position:relative;color:#131313;}
.mainSec03 .textBox .text{padding-right:70px;}
.mainSec03 .textBox .text:after{content:'';display:block;width:61px;height:16px;position:absolute;right:0;bottom:4px;background:url(../images/main/main-link-arr.png) no-repeat center center;background-size:contain;}
.mainSec03 .textBox:hover .text:after{-webkit-animation:mainArrRight 1.5s infinite;animation:mainArrRight 1.5s infinite;}
.mainSec03 .productBox{display:-webkit-box;display:-ms-flexbox;display:flex;margin-top:86px;}
.mainSec03 .productBox li{width:100%;}
.mainSec03 .productBox li + li{margin-left:40px;}
.mainSec03 .productBox .box{position:relative;display:block;overflow:hidden;text-align:center;background:#f8f8f8;}
.mainSec03 .productBox .box img{width:100%;-webkit-transition:1s;transition:1s;}
.mainSec03 .productBox .box:after{content:'';display:block;width:34px;height:34px;position:absolute;right:9.09%;bottom:9.09%;background:url(../images/main/main-product-ico.png) no-repeat center center;background-size:contain;-webkit-transition:1s ease;transition:1s ease;}
.mainSec03 .productBox .box:hover img{-webkit-transform:scale(1.15);transform:scale(1.15);}
.mainSec03 .productBox .box:hover:after{-webkit-transform:rotate(720deg);transform:rotate(720deg);}
.mainSec03 .productBox .box .txt{position:absolute;left:0;top:0;width:100%;padding:12.27% 9.09% 0;color:#131313;text-align:left;}
.mainSec03 .productBox .box .txt strong{display:block;font-size:42px;margin-bottom:12px;}
.mainSec03 .productBox .box .txt div{text-transform:uppercase;}
.mainSec04{position:relative;background:url(../images/main/main-sec04-bg.png) no-repeat center center;background-size:cover;}
.mainSec04 .textBox > a{position:relative;display:block;padding:130px 0 150px;z-index:1;}
.mainSec04 .textBox > a .text{position:relative;padding-right:70px;}
.mainSec04 .textBox > a .text:after{content:'';display:block;position:absolute;bottom:4px;right:0;width:61px;height:16px;margin-top:22px;background:url(../images/main/main-link-arr.png) no-repeat center center;background-size:contain;}
.mainSec04 .textBox > a:hover .text:after{-webkit-animation:mainArrLeft 1.5s infinite;animation:mainArrLeft 1.5s infinite;}
@-webkit-keyframes mainArrRight{
    0%, 100%{-webkit-transform:translateX(0);transform:translateX(0);}
    50%{-webkit-transform:translateX(30%);transform:translateX(30%);}
}
@keyframes mainArrRight{
    0%, 100%{-webkit-transform:translateX(0);transform:translateX(0);}
    50%{-webkit-transform:translateX(30%);transform:translateX(30%);}
}
@-webkit-keyframes mainArrLeft{
    0%, 100%{-webkit-transform:translateX(0);transform:translateX(0);}
    50%{-webkit-transform:translateX(-30%);transform:translateX(-30%);}
}
@keyframes mainArrLeft{
    0%, 100%{-webkit-transform:translateX(0);transform:translateX(0);}
    50%{-webkit-transform:translateX(-30%);transform:translateX(-30%);}
}
.mainSec05{padding:130px 0 150px;background:#ffc001;}
.mainSec05 .textBox{color:#131313;}
.mainSec05 .mail{text-align:right;margin-top:45px;}
.mainSec05 .mail > div{display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;width:892px;padding-right:40px;max-width:100%;}
.mainSec05 .mail .input{-webkit-box-flex:1;-ms-flex:1 1 auto;flex:1 1 auto;}
.mainSec05 .mail .button{-webkit-box-flex:0;-ms-flex:0 0 200px;flex:0 0 200px;margin-left:20px;}
@media screen and (max-width:1400px){
    [class*=mainSec] .textBox h1{font-size:60px;}
    .mainSec01 .mainSwiper{margin:0 -20px;}
    .mainSec01 .mainSwiper .slideItem{padding:0 30px;}
    .mainSec01 .mainSwiper .swiper-navi{left:20px;}
    .mainSec01 .mainSwiper .swiper-control{right:20px;}
    .mainSec03 .productBox .box .txt strong{font-size:28px;}
    .mainSec05 .mail > div{padding-right:0;}
}
@media screen and (max-width:1024px){
    .mainSec02 > div.sec1{padding:80px 0;}
    .mainSec02 .textBox,.mainSec02 .imgBox{float:none;width:auto;}
    .mainSec02 .textBox{padding-top:0;}
    .mainSec02 .imgBox{margin:40px -10px 0;}
    .mainSec02 .imgBox li:nth-child(odd), .mainSec02 .imgBox li:nth-child(even){float:left !important;padding:0 10px;width:25%;}
    .mainSec02 .imgBox li:nth-child(even){padding-top:80px !important;}
    .mainSec02 .imgBox .box .txt{padding:20px;font-size:14px;}
    .mainSec02 .imgBox .box .txt strong{font-size:20px;}
    .mainSec03{padding:80px 0;}
    .mainSec03 .productBox{margin-left:-20px;margin-right:-20px;overflow-y:hidden;overflow-x:auto;}
    .mainSec03 .productBox li:first-child{padding-left:20px;}
    .mainSec03 .productBox li:last-child{padding-right:20px;}
    .mainSec03 .productBox li + li{margin-left:20px;}
    .mainSec03 .productBox .box{min-width:200px;}
    .mainSec03 .productBox .box .txt{padding:20px;font-size:14px;}
    .mainSec03 .productBox .box .txt strong{font-size:20px;}
    .mainSec04 .textBox > a{padding:80px 0;}
    .mainSec05{padding:80px 0;}
    .mainSec05 .mail .button{-webkit-box-flex:0;-ms-flex:0 0 120px;flex:0 0 120px;margin-left:10px;}
}
@media screen and (max-width:767px){
    [class*=mainSec] .textBox h1{font-size:35px;}
    [class*=mainSec] .textBox .text{font-size:16px;margin-top:20px;}
    .mainSec01 .visualBg video, .mainSec01 .visualBg .mask{display:none;}
    .mainSec01 .innerBox{padding-top:60px;}
    .mainSec01 .mainSwiper .slideItem{height:calc(100vh - 60px);min-height:auto;padding:0 20px;}
    .mainSec01 .mainSwiper .slideItem .tit > strong{font-size:35px;}
    .mainSec01 .mainSwiper .slideItem .txt{margin-top:20px;}
    .mainSec01 .mainSwiper .slideItem .link{margin-top:30px;}
    .mainSec01 .mainSwiper .slideItem .link > a:after{width:40px;height:10px;margin-top:15px;}
    .mainSec01 .mainSwiper .swiper-navi{bottom:30px;}
    .mainSec01 .mainSwiper .swiper-button-next{margin-left:20px;}
    .mainSec01 .mainSwiper .swiper-control{height:32px;bottom:30px;}
    .mainSec01 .mainSwiper .swiper-pagination .swiper-pagination-current{margin-right:10px;}
    .mainSec01 .mainSwiper .swiper-pagination .swiper-pagination-total{margin-left:10px;}
    .mainSec01 .mainSwiper .swiper-auto-ctl{margin-left:20px;}
    .mainSec02 > div.sec1{padding:60px 0;}
    .mainSec02 .textBox{margin-top:0;}
    .mainSec02 .textBox .link{margin-top:30px;}
    .mainSec02 .textBox .text:after{width:40px;height:10px;}
    .mainSec02 .imgBox{margin-left:-5px;margin-right:-5px;}
    .mainSec02 .imgBox li:nth-child(odd), .mainSec02 .imgBox li:nth-child(even){width:50%;padding:0 5px;}
    .mainSec02 .imgBox li:nth-child(3){margin-top:-70px;}
    .mainSec02 .imgBox li:nth-child(4){margin-top:-70px;}
    .mainSec02 .imgBox .box .txt{font-size:13px;padding:15px;}
    .mainSec02 .imgBox .box .txt strong{font-size:16px;margin-bottom:10px;}
    .mainSec02 .sec2{padding:50px 0;}
    .mainSec02 .sec2 .innerBox{display:block;}
    .mainSec02 .sec2 .innerBox .link a{display:block;font-size:20px;}
    .mainSec02 .sec2 .innerBox .link a:after{width:40px;height:10px;margin-top:15px;}
    .mainSec02 .sec2 .innerBox .txt{padding-left:0;margin-top:20px;}
    .mainSec03{padding:60px 0;}
    .mainSec03 .productBox{margin-top:40px;}
    .mainSec03 .textBox .text{padding-right:50px;}
    .mainSec03 .textBox .text:after{width:40px;height:10px;}
    .mainSec04 .textBox > a{padding:60px 0;}
    .mainSec04 .textBox > a .text{padding-right:50px;}
    .mainSec04 .textBox > a .text:after{width:40px;height:10px;}
    .mainSec04 .textBox h1{font-size:8vw;}
    .mainSec05{padding:60px 0;}
}
@media screen and (max-width:360px){
    .mainSec05 .mail > div{display:block;}
    .mainSec05 .mail .button{display:block;width:100%;margin-left:0;margin-top:20px;}
}