@mixin mediaMinWidth($size) {
    @media (min-width:#{$size}px) {
        @content;
    }
}
@mixin mediaMaxWidth($size) {
    @media (max-width:#{$size}px) {
        @content;
    }
}
@mixin mediaMinHeight($size) {
    @media (min-height:#{$size}px) {
        @content;
    }
}
@mixin mediaMaxHeight($size) {
    @media (max-height:#{$size}px) {
        @content;
    }
}

//말줄임
@mixin ellipsis(){
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

  //모바일말줄임
@mixin ellipsisMobile($line){
    display: -webkit-box;
    overflow: hidden;
    word-wrap: break-word;
    -webkit-line-clamp: #{$line};
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }