/* ==============================
 * common
 * ============================== */
body.hidden {overflow: hidden;}
body.scrollLock {overflow: hidden;}

.loading{
    position:fixed;top:0;left:0;width:100%;height:100%;background:#fff;z-index:1000;clip-path:circle(100%);transition:0.5s;
    //opacity:1;
    &.off{clip-path:circle(0%);
        //opacity:0;
    }
    &:before{content:'';display:block;position:absolute;left:50%;top:50%;width:246px;height:282px;margin:-141px 0 0 -123px;background:url(../images/common/loading.png) no-repeat center center;background-size:contain;animation:loadingRotate 30s linear infinite;}
}
@keyframes loadingRotate{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}


.fcYellow{color:#ffc001;}
.blind { overflow:hidden; position:absolute; top:0; left:0; width:0; height:0; font-size:0;}
.hidden{overflow:hidden;}
.hide{display:none;}
.block{display:block;}
.inblock{display:inline-block;}
.pc_hide{display:none;}
@media screen and (max-width:767px) {
	.pc_hide{display:block;}
	.mo_hide{display:none;}
}

.flex{
    display:flex;
    >div{width:100%;}
}
.flexAlignCenter{align-items:center;}
.flexJustifyCenter{justify-content:center;}
.flexSpaceAround{justify-content:space-around;}
.flexSpaceBetween{justify-content:space-between;}
.flexColumn{flex-direction:column;}
.flexRowReverse{flex-direction:row-reverse;}
.flexColReverse{flex-direction:column-reverse;}

/* dotList */
.dotList li { position:relative; padding-left:20px;}
.dotList li:before { content:''; display:block; position:absolute; top:0.7em; left:0; width:3px; height:3px; border-radius:50%; background:#999999;}
.dashList li { position:relative; padding-left:15px;}
.dashList li:before { content:''; display:block; position:absolute; top:11px; left:0; width:4px; height:2px; background:#788391;}

/* ==============================
 * layout
 * ============================== */
/* header */
.headerBg{display:none;position:fixed;top:80px;left:0;right:0;z-index:10;height:289px;border-bottom:1px solid #e5e5e5;background:rgba(255,255,255,1)}
#header{ 
    position:fixed;top:0;left:0;z-index:100;width:100%;border-bottom:1px solid #e5e5e5;background:rgba(255,255,255,1);
    .innerBox{height:79px;}
    .logo{
        position:absolute;top:50%;left:0;transform:translateY(-50%);
        a{display:block;width:108px;height:39px;font-size:0;background:url('../images/common/logo.png') no-repeat center center;background-size:contain;}
    }
    .btnMenu{
        display:none;overflow:hidden;position:absolute;right:10px;top:50%;z-index:100;width:50px;height:50px;transform:translateY(-50%);font-size:0;
        span{
            position:absolute;left:50%;top:50%;width:30px;height:3px;font-size:0;background:#111;transform:translate(-50%, -50%);
            &:before,
            &:after{content:'';display:block;position:absolute;right:0;width:100%;height:3px;background:#111;transition:all .3s ease;}
            &:before{top:-8px;}
            &:after{top:8px;}
        }
        &.on{
            span{
                background:none;
                &:before,
                &:after{top:50%;transform-origin: 50% 50%;background:#111 !important;}
                &:before{transform:translateY(-50%) rotate(45deg);}
                &:after{transform:translateY(-50%) rotate(-45deg);}
            } 
        }
    }
}
.gnbWrap{
    &>.bg{display:none;background:rgba(0,0,0,0.8);position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;transition:opacity .3s ease;}
    .gnb{
        margin-left:24.2857%;transition:all .3s ease,background 0s;
        &>ul{
            display:flex;height:80px;margin-right:180px;
            &>li{
                position:relative;padding:0 42px;
                &>a{
                    position:relative;display:flex;height:100%;align-items:center;font-size:18px;color:#000;font-weight:bold;transition:all .3s ease;
                    &:hover,
                    &.on{color:#ffc001;}
                    &:before{
                        content:'';display:block;position:absolute;left:50%;bottom:0;width:0;height:2px;background:#ffc001;transition:0.3s ease;
                    }
                    &:hover:before,
                    &.on:before{left:0;width:100%;}
                }
                &>ul{
                    display:none;position:absolute;top:80px;left:0;width:100%;padding:26px 0;
                    &>li{
                        &+li{margin-top:20px;}
                        &>a{
                            display:block;font-size:16px;color:#9ea09f;font-weight:bold;text-align:center;
                            &.on,
                            &:hover{color:#ffc001;}
                        }
                    }
                }
            }
        }
    }
    .util{
        display:flex;position:absolute;top:0;right:0;bottom:0;align-items:center;transition:all .3s ease;
        &>a{font-size:14px;color:#131313;font-weight:bold;}
        .language{
            margin-left:41px;
            a{
                position:relative;display:inline-block;padding:0 11px;font-size:15px;color:#9ea09f;font-weight:bold;
                &.on{color:#131313;}
                &:first-child{padding-left:0;}
                &:last-child{padding-right:0;}
                &+a:before{content:'';display:block;position:absolute;width:4px;height:4px;left:-2px;top:50%;margin-top:-2px;background:#9ea09f;border-radius:2px;}
            }
        }
    }
}

/* container */
#container{overflow:hidden;margin-top:80px;min-height:calc(100vh - 246px);}
.innerBox{position:relative;max-width:1400px;margin:0 auto;}
.pageTitle{
    padding:85px 0;background:#fff;
    .innerBox{
        display:flex;
        >div{
            width:100%;
        }
    }
    .tit{font-size:48px;letter-spacing:-0.02em;line-height:1.25;}
    .text{
        line-height:1.9;
        div{line-height:inherit;}
        >div+div{margin-top:2em;}
        @for $i from 1 through 5 {
            >div:nth-child(#{$i}) [data-animation]{animation-delay:($i * 0.2s);}
        }
    }
}
.pageVisual{
    position:relative;overflow:hidden;
    &:before{content:'';display:block;position:absolute;top:0;left:-20%;width:140%;height:100%;background:#fff;transform:skewX(-10deg);transition:left 1s cubic-bezier(0.71, 0.18, 1, 0.31);z-index:1;}
    .pageVisualInner{height:340px;}
    background-color:#222;background-position:center center;background-repeat:no-repeat;background-size:cover;background-attachment:fixed;
    
    .pageTitle{
        z-index:1;transform:translateY(-100%);transition:transform 0.75s 1.2s ease;
        .tit{animation-delay:2s;}
        .text{
            @for $i from 1 through 5 {
                >div:nth-child(#{$i}) [data-animation]{animation-delay:(2s+($i * 0.2s));}
            }
        }
    }
    &.on{
        &:before{left:120%;}
        .pageTitle{transform:translateY(0);}
    }

    &.about{background-image:url(../images/visual/about.png);}
    &.history{background-image:url(../images/visual/history.png);}
    &.location{background-image:url(../images/visual/location.png);}

    &.makePrevention{background-image:url(../images/visual/makePrevention.png);}
    &.precisionParts{background-image:url(../images/visual/precisionParts.png);}
    &.process{background-image:url(../images/visual/process.png);}

    &.cnc{background-image:url(../images/visual/cnc.png);}

    &.prevention{background-image:url(../images/visual/prevention.png);}
    &.housing{background-image:url(../images/visual/housing.png);}
    &.locking{background-image:url(../images/visual/locking.png);}
    &.manifold{background-image:url(../images/visual/manifold.png);}
    &.shaft{background-image:url(../images/visual/shaft.png);}
    &.etcPrecision{background-image:url(../images/visual/etcPrecision.png);}

    &.inquiry{background-image:url(../images/visual/inquiry.png);}
    &.downloadList{background-image:url(../images/visual/downloadList.png);}
}

/* footer */
#footerWrap{position:relative;z-index:50;}
#footer{
    padding:60px 0;background:#101010;
    .innerBox{display:flex;align-items:center;}
    .footLogo{
        width:109px;height:39px;background:url(../images/common/logo-foot.png) no-repeat center center;background-size:contain;
        font-size:0;color:transparent;
    }
    .footInfo{
        color:#9ea09f;margin-left:120px;font-size:13px;
        ul{
            font-size:0;
            li{
                position:relative;display:inline-block;padding-right:9px;margin-right:8px;font-size:13px;
                &:before{content:'';display:block;width:1px;height:10px;position:absolute;right:0;top:50%;margin-top:-5px;background:#9ea09f;}
                &:last-child{
                    padding-right:0;margin-right:0; 
                    &:before{content:none;}
                }
            }
        }
        .copy{margin-top:10px;}
    }
}

@media (max-width:1440px) {    
    #header .logo{left:20px;}
    .gnbWrap .util {right:20px;}
    #footer{
        .footInfo{
            margin-left:110px;
        }
    }
    .innerBox{padding:0 20px;}
}
@media (max-width:1300px) {
    .gnbWrap .gnb{
        margin-left:160px;
        &>ul{
            &>li{
                padding:0 25px;
            }
        }
    }
}
@media (max-width:1024px) {
    .headerBg{display:none !important;}
    #header{
        .btnMenu{display:block;}
    }
    .gnbWrap{
        visibility:hidden;position:fixed;top:0;right:0;height:100%;width:100%;overflow:hidden;
        &>.bg{display:block;}
        &.on{
            visibility:visible;
            &>.bg{opacity:1;}
            .gnb{right:0;}
        }
        .gnb{
            position:absolute;top:0;right:-320px;width:320px;padding-top:60px;height:100%;background:#fff;margin-left:0;height:100%;
            &>ul{
                display:block;height:100%;overflow:auto;margin-right:0;
                &>li{
                padding:10px 20px;
                    &>a{
                        position:relative;display:block;height:auto;font-size:20px;color:#000 !important;padding-right:20px;
                        &:before{content:none;}
                        &:after{
                            content:'';display:block;position:absolute;top:50%;right:2px;width:10px;height:10px;margin-top:-7px;border:1px solid #111;border-width:0 1px 1px 0;transform:rotate(45deg);transition: all .3s ease;
                        }
                        &.open:after{margin-top:-3px;transform:rotate(-135deg);}
                    }
                    &>ul{
                        position:relative;top:auto;padding:15px 0;
                        &>li{
                            &+li{margin-top:10px;}
                            &>a{
                                text-align:left;font-size:18px;
                            }
                        }
                    }
                }
            }
        }
        .util{
            height:60px;right:auto;left:20px;
            &>a{color:#131313 !important;}
            .language{
                a{
                    &.on{color:#131313 !important;}
                }
            }
        }
    }
}
@media (max-width:1000px) {
    .pageTitle{
        .innerBox{
            display:block;
            >div{
                +div{padding-left:0;padding-right:0;padding-top:40px;}
            }
        }
    }
}
@media (max-width:767px) {
    .loading:before{width:82px;height:94px;margin:-47px 0 0 -41px;}
    #header{
        .innerBox{height:59px;}
        .logo a{width:72px;height:26px;}
    }
    #container{margin-top:60px;min-height:auto;}
    .pageTitle{
        padding:50px 0;
        .tit{font-size:30px;}
        .text{
            line-height:1.5;
            >div+div{margin-top:1rem;}
        }
    }
    // .pageVisual{background-attachment:local;}
    .pageVisual .pageVisualInner{height:200px;}
    #footer{
        padding:20px 0;
        .innerBox{display:block;}
        .footLogo{
            width:72px;height:26px;
            //margin:0 auto;
        }
        .footInfo{
            margin-left:0;margin-top:1rem;
        }
    }
}


