/* ==============================
 * component
 * ============================== */
 
/* 버튼 */
.button{
    position:relative;display:inline-flex;width:auto;height:70px;padding:0 20px;border:1px solid #131313;background:#131313;color:#fff;align-items:center;justify-content:center;font-size:20px;white-space:nowrap;text-decoration:none;overflow:hidden;box-sizing:border-box;-webkit-appearance:none;
    &.large{height:86px;}
    &.yellow{border-color:#ffc001;background:#ffc001;}
}
@media screen and (max-width:767px) {
	.button{
        height:50px;padding:0 10px;font-size:18px;
        &.large{height:60px;}
    }
}
.btnClickEf{position:relative;overflow:hiddne;}
.btnClickIn{display:block;position:absolute;background:rgba(0,0,0,0.2);border-radius:100%;-webkit-transform:scale(0);transform:scale(0);}
.btnClickIn.animate{-webkit-animation:btnClickEf 0.65s linear;animation:btnClickEf 0.65s linear;}
@-webkit-keyframes btnClickEf{
	0%{-webkit-transform:scale(0);transform:scale(0);opacity:1;}
	100%{-webkit-transform:scale(2.5);transform:scale(2.5);opacity:0;}
}
@keyframes btnClickEf{
	0%{-webkit-transform:scale(0);transform:scale(0);opacity:1;}
	100%{-webkit-transform:scale(2.5);transform:scale(2.5);opacity:0;}
}

/* input */
.input{
    display:inline-block;width:100%;
    input{width:100%;height:70px;color:#131313;padding:0 20px;border:1px solid #fff;background:#fff;box-sizing:border-box;}
    &.large{
        input{height:86px;padding:0 40px;}
    }
}
@media screen and (max-width:767px) {
	.input {
        input{height:50px;padding:0 10px;}
        &.large{
            input{height:60px;padding:0 15px;}
        }
    }
}
.textarea textarea{width:100%;color:#131313;padding:10px;border:1px solid #fff;background:#fff;box-sizing:border-box;resize:none;}

input[type="radio"], 
input[type="checkbox"]{margin:0;}
.checkbox,
.radio{
    position:relative;display:inline-block;min-width:24px;min-height:24px;vertical-align:middle;margin-right:30px;
    &:last-child{margin-right:0;}
    &.block{
        display:block;margin-right:0;
        &+.block{margin-top:5px;}
    }
    &>input{
        position:absolute;left:0;top:0;width:24px;height:24px;opacity:0;margin:0;z-index:2;
        &:checked+i{border-color:#ffc001;}
        &:disabled+i{
            opacity:0.6;
        }
    }
    &>i{
        position:absolute;left:0;top:0;display:block;width:24px;height:24px;border:2px solid #e1e1e1;background:#fff;box-sizing:border-box;border-radius:50%;transition:0.3s;z-index:1;
        &:after{content:'';display:block;position:absolute;border-style:solid;}
        &+.lbl{margin-left:24px;padding-left:10px;}
    }
    &>.lbl{
        position:relative;display:block;line-height:24px;font-size:14px;
        &:first-child{margin-right:24px;padding-right:10px;}
        &+input+i{left:auto;right:0;}
    }
}
.checkbox{
    &>i{
        &:after{width:18px;height:8px;left:4px;top:0px;border-width:0 0 2px 2px;;border-color:#e1e1e1;transform:rotate(-45deg) scale(0.9);}
    }
    input:checked+i:after{border-color:#ffc001;animation:chkeckboxAni 0.2s linear;}
}
.radio{
    &>i{
        &:after{left:50%;top:50%;border-radius:50%;border-color:#eee;background:#eee;border-width:7px;margin:-7px 0 0 -7px;}
    }
    input:checked+i{background:#ffc001;}
    input:checked+i:after{border-color:#fff;background:#fff;animation:radioAni 0.2s linear;}
}
@keyframes chkeckboxAni{0%{clip:rect(9px,0,9px,0);}100%{clip:rect(0,15px,9px,0);}}
@keyframes radioAni{0%{transform:scale(0);}100%{transform:scale(1);}}

/* table */
.lineTable{
    th,
    td{padding:10px 0;height:54px;border-top:1px solid #e8e8ea;}
    tr:first-child{
        th,
        td{border-width:0;}  
    }
    tbody{
        th{text-align:left;}
    }
}

/* ==============================
 * contents

 * ============================== */
.aboutTxt{
    background:#f7f7f7;padding:150px 0;
    .innerBox{
        display:flex;
        >div{
            width:100%;
        }
    }
    .tit{font-size:48px;}
    .text{
        padding-left:40px;
        .txt1{font-size:30px;}
        .txt2{margin-top:70px;}
    }
}
@media screen and (max-width:767px) {
    .aboutTxt{
        padding:60px 0;
        .innerBox{
            display:block;
        }
        .tit{font-size:25px;}
        .text{
            padding-left:0px;margin-top:40px;
            .txt1{font-size:18px;}
            .txt2{margin-top:20px;}
        }
    }
}

.imgAboutList{
    padding:100px 0;overflow:hidden;
    .flex{
        align-items:center;
        >div{width:100%;}
    }
    .img{
        overflow:hidden;
        img{width:100%;transition: 0.5s ease;}
    }
    .text{
        padding:0 20px 0 40px;
        .tit{font-size:48px;font-weight:bold;letter-spacing:-0.02em;}
        .summary{margin-top:35px;}
    }
    ul{
        li:nth-child(odd){
            .flex{flex-direction:row-reverse;}
            .text{padding:0 40px 0 20px;}
        }
        li:hover .img img{transform:scale(1.1);}
    }
}
@media screen and (max-width:767px) {
	.imgAboutList{
        padding:60px 0;
        .text{
            padding:0 10px 0 20px;
            .tit{font-size:25px;}
            .summary{margin-top:10px;}
        }
        ul{
            li:nth-child(odd){
                .text{padding:0 20px 0 10px;}
            }
        }
    }
}
.company{
    position:relative;overflow:hidden;padding:123px 0;
    .bg{
        position:absolute;left:0;top:0;width:50%;height:100%;background:#ffc001;overflow:hidden;
        &:after{content:'';position:absolute;right:440px;bottom:-195px;display:block;width:516px;height:590px;background:url(../images/introduce/company-bg.png) no-repeat center center;background-size:contain;animation:bgRotate 30s linear infinite;}
    }
    .flex{
        >div{
            width:100%;
        }
    }
    .tit{position:relative;color:#fff;font-size:48px;line-height:1.4;}
    .text{padding-left:40px;}
}
@keyframes bgRotate{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}
@media screen and (max-width:767px) {
    .company{
        padding:0;
        .bg{display:none;}
        .innerBox{padding-top:00px;padding-bottom:50px}
        .flex{
            display:block;
            >div{
                padding-right:0;
                &:first-child{
                    margin:0 -20px;padding:60px 20px;width:auto;
                    position:relative;background:#ffc001;overflow:hidden;
                    &:before{content:'';position:absolute;right:-18px;bottom:-55px;display:block;width:172px;height:196px;background:url(../images/introduce/company-bg.png) no-repeat center center;background-size:contain;animation:bgRotate 30s linear infinite;}
                }
                +div{padding-left:0;margin-top:50px;}
            }
        }
        .tit{font-size:25px;margin-top:0;}
        .text{padding-left:0;}
    }
}

.historyList{
    color:#fff;padding:150px 0;
    &:before{content:'';display:block;position:absolute;left:50%;top:0;width:1px;height:100%;transform:translateX(-50%);background:rgba(255,255,255,0.2);}
    ul{
        width:720px;margin:0 auto;
        li{
            position:relative;
            &:before{content:'';display:block;position:absolute;left:50%;top:21px;width:27px;height:30px;margin-left:-1px;transform:translateX(-50%) scale(1) rotate(0deg);background:url(../images/introduce/history-dot.png) no-repeat center center;background-size:contain;transition:1s cubic-bezier(0, 0.8, 0.2, 1);}
            &:nth-child(odd){padding-right:470px;}
            &:nth-child(even){padding-left:470px;}
            &:hover:before{transform:translateX(-50%) scale(1.2) rotate(720deg);}
        }
    }
    .date{font-size:48px;}
    .txt{margin-top:20px;}
}
@media screen and (max-width:767px) {
    .historyList{
        padding:60px 0;
        ul{
            width:auto;
            li{
                &:before{top:8px;width:18px;height:20px;}
                &:nth-child(odd){padding-right:calc(50% + 30px);text-align:right;}
                &:nth-child(even){padding-left:calc(50% + 30px);}
            }
        }
        .date{font-size:25px;}
        .txt{margin-top:10px;}
    }
}

.certificateList{
    background:#efefef;padding:120px 0 100px;
    ul{
        display:flex;margin:100px -40px 0;
        li{
            width:25%;text-align:center;padding:0 40px;
        }
    }
    .img{
        img{max-width:100%;}
    }
    .txt{margin-top:30px;}
}
@media screen and (max-width:1400px) {
    .certificateList{
        ul{
            margin:100px -20px 0;
            li{
                padding:0 20px;
            }
        }
    }
}
@media screen and (max-width:767px) {
    .certificateList{
        padding:60px 0 45px;
        ul{
            margin:35px -10px 0;flex-wrap:wrap;
            li{
                width:50%;flex:0 0 50%;padding:15px 10px;
            }
        }
        .txt{margin-top:15px;}
    }
}

.locationWrap{
    color:#fff;
    .innerBox{
        height:440px;display:flex;align-items:center;
    }
    ul{
        li{
            display:flex;align-items:center;
            +li{
                margin-top:12px;
            }
        }
    }
    .th{
        position:relative;white-space:nowrap;
    }
    .td{font-size:16px;margin-left:20px;word-break:break-all;font-weight:200;}

    &.inquiry{
        .innerBox{
            height:auto;
            >div{
                display:flex;width:100%;height:340px;align-items:center;
                +div{padding:55px 0;align-items:flex-end;}
            }
        }
        .textBox{
            margin-top:-15px;
            .tit{font-size:48px;line-height:1;}
            .txt{margin-top:22px;}
        }
    }
}
.locationMap{
    height:743px;background:#eee;
    >div{width:100%;height:100%;}
    >div .wrap_map{height:100%;}
}
@media screen and (max-width:768px) {
    .locationWrap{
        .innerBox{height:200px;}
    }
    .locationMap{height:400px;}
}

.imgCncList{
    padding:150px 0;overflow:hidden;
    .flex{
        align-items:center;
    }
    .img{
        position:relative;overflow:hidden;flex:0 0 58.85%;background:#efefef;
        img{width:100%;transition: 0.5s ease;}
        .box{position:absolute;display:flex;right:0;bottom:0;width:114px;height:114px;align-items:center;justify-content:center;color:#fff;font-size:25px;font-weight:bold;background:#ffc001;}
        +div{float:0 0 auto;display:flex;}
    }
    .text{
        padding:0 40px;
        .tit{font-size:48px;font-weight:bold;letter-spacing:-0.02em;text-transform:uppercase;}
        .info{
            margin-top:28px;
            li{
                position:relative;padding-left:0.85em;
                &:before{content:'';display:block;width:2px;height:2px;background:#222;position:absolute;left:0;top:0.75em;}
                +li{margin-top:10px;}
            }
        }
    }
    .innerBox>ul{
        
        >li:hover .img img{transform:scale(1.1);}
        >li+li{margin-top:100px;}
        >li:nth-child(even){
            .flex{
                flex-direction:row-reverse;
                .img+div{justify-content:flex-end;}
            }
        }
    }
}

@media screen and (max-width:1300px) {
	.imgCncList{
        .img{
            flex:0 0 53%;
        }
    }
}
@media screen and (max-width:767px) {
	.imgCncList{
        padding:60px 0;
        .flex{display:block;}
        .img{
            .box{width:60px;height:60px;font-size:20px;}
            +div{display:block;}
        }
        .text{
            padding:30px 20px 0;
            .tit{font-size:25px;}
            .info{
                margin-top:15px;
                li{
                    +li{margin-top:5px;}
                }
            }
        }
        .innerBox>ul{
            >li+li{margin-top:50px;}
        }
    }
}

.productMasonryWrap{padding:136px 0;}
.productMasonry{
    position:relative;width:1348px;margin:0 auto;max-width:100%;
    .size,
    .item{width:25%;}
    .size{position:absolute;}
    .item{
        float:left;padding:14px;top:0;left:0;transform:scale(1);opacity:1;transition: 0.3s ease;
        &.off{transform:scale(0.5);opacity:0.5;}
    }
    .img{
        position:relative;overflow:hidden;
        img{width:100%;transition:0.3s ease;}
        &:hover img{transform:scale(1.1);}
    }
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

@media screen and (max-width:920px) {
    .productMasonry{
        margin:0 -10px;width:auto;max-width:none;
        .size,
        .item{width:33.33%;}
        .item{padding:10px;}
    }
}
@media screen and (max-width:767px) {
    .productMasonryWrap{padding:55px 0;}
    .productMasonry{
        margin:0 -5px;
        .size,
        .item{width:50%;}
        .item{padding:5px;}
    }
}

.formBoxWrap{padding:150px 0;}
.formBox{
    border-top:2px solid #ffc001;border-bottom:2px solid #131313;
    .formBoxRow{
        display:flex;padding-top:29px;
        &.pdTop{padding-top:43px;}
        &:last-child .formBoxItem{border-bottom-width:0;}
        &.bdNone .formBoxItem{border-bottom-width:0;}
        &.bdNone+.formBoxRow{padding-top:3px;}
    }
    .formBoxItem{
        display:flex;width:100%;border-bottom:1px solid #ccc;align-items:center;
        +.formBoxItem{margin-left:40px;}
    }
    .formLbl{
        flex:0 0 165px;padding:0 10px;
    }
    .formCont{
        flex:1 1 auto;
        .input input{padding:0;}
    }
}
.formBoxbtn{
    display:flex;align-items:flex-end;justify-content:space-between;margin-top:95px;
    .tit{font-size:16px;}
    .chk{
        display:flex;margin-top:34px;align-items:center;
        .lbl{color:#999;}
        a{text-decoration:underline;font-size:14px;}
    }
    .button{width:400px;}
}
@media screen and (max-width:1000px) {
    .formBox{
        .formBoxItem{
            +.formBoxItem{margin-left:20px;}
        }
        .formLbl{
            flex:0 0 100px;
        }
    }
    .formBoxbtn{
        .button{width:250px;}
    }
}
@media screen and (max-width:767px) {
    .formBoxWrap{padding:60px 0;}
    .formBox{
        .formBoxRow{
            display:block;padding-top:0;
            &.pdTop{
                padding-top:0;
                .formCont{margin-top:15px;}
            }
            &.bdNone+.formBoxRow{
                padding-top:0;
                .formBoxItem{padding-top:0;}
            }
        }
        .formBoxItem{
            display:block;width:auto;padding-top:15px;
            +.formBoxItem{margin-left:0;}
        }
        .formCont{margin-top:5px;padding:0 10px;}
        .textarea textarea{padding:10px 0;}
    }
    .formBoxbtn{
        display:block;margin-top:40px;
        >div+div{margin-top:30px;}
        .chk{
            justify-content:space-between;
            margin-top:15px;
        }
        .button{width:100%;}
    }
}

.listTableWrap{padding-bottom:150px;}
.listTable{
    table{
        width:100%;border-top:2px solid #ffc001;
        th,
        td{
            height:75px;padding:10px;border-bottom:1px solid #ccc;text-align:center;vertical-align:middle;
            &.left{text-align:left;}
            &.center{text-align:center;}
            img{max-width:100%;}
        }
    }
}
.icoFile{display:inline-block;width:21px;height:21px;background:url(../images/common/icoFile.png) no-repeat center center;background-size:contain;font-size:3px;color:transparent;overflow:hidden;}
.btnFile{display:inline-block;padding-left:25px;background:url(../images/common/icoFile.png) no-repeat left center;font-size:16px;}
.paging{
    margin-top:100px; font-size:0; text-align:center;
    strong,
    a { display:inline-block; width:32px; height:32px; margin:0 5px;  vertical-align:middle; font-size:16px; line-height:32px;border-radius:50%;}
    strong { color:#fff; background:#ffc001; }
    a[class*=btn] { border:0; font-size:0;background-repeat:no-repeat;background-position:center center;background-size:contain;}
    
    a.btnFirst { background-image:url('../images/common/paging_first.png');}
    a.btnPrev { background-image:url('../images/common/paging_prev.png');margin-right:21px;}
    a.btnNext { background-image:url('../images/common/paging_next.png');margin-left:21px;}
    a.btnLast { background-image:url('../images/common/paging_last.png');}
}

@media screen and (max-width:767px) {
    .listTableWrap{padding-bottom:60px;}
    .listTable{
        overflow-y:hidden;overflow-x:auto;
        table{
            white-space:nowrap;
            th,
            td{
                height:50px;
            }
        }
    }
    .icoFile{width:14px;height:14px;}
    .btnFile{padding-left:20px;font-size:14px;background-size:14px auto;}
    .paging{
        margin-top:40px;
        strong,
        a {width:24px; height:24px; margin:0 3px;font-size:14px;line-height:24px;}
        a.btnPrev {margin-right:7px;}
        a.btnNext {margin-left:7px;}
    }
}

.listView{
    border-top:2px solid #ffc001;
    >div{border-bottom:1px solid #ccc;}
    >.info{
        display:flex;justify-content:space-between;align-items:center;padding:33px 0;
        .tit{font-size:24px;}
        ul{
            display:flex;font-weight:200;white-space:nowrap;align-items:center;font-size:16px;
            li{
                position:relative;padding:0 20px;
                &:first-child{padding-left:0;}
                &:last-child{padding-right:0;}
                +li:before{content:'';display:block;position:absolute;left:0;top:50%;width:1px;height:15px;background:#e8e8e8;transform:translateY(-50%);}
            }
        }
    }
    >.cont{padding:75px;word-break:break-all;min-height:435px;}
    >.navi{
        >a,
        >div{
            position:relative;display:block;padding:25px 110px 25px 0;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;
            &:before,
            &:after{content:'';display:block;position:absolute;right:24px;top:50%;transform:translateY(-50%);}
            &:before{width:16px;height:10px;background-repeat:no-repeat;background-position:center center;background-size:contain;}
            &:after{right:51px;}
            +a,
            +div{border-top:1px solid #ccc;}
        }
        >div{
            color:#999;
            &:before{opacity:0.3;}
        }
        .prev:before{background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='16px' height='10px'%3E%3Cpath fill-rule='evenodd' fill='rgb(19, 19, 19)' d='M14.408,10.009 L8.000,3.329 L1.592,10.009 L-0.010,8.339 L8.000,-0.011 L16.009,8.339 L14.408,10.009 Z'/%3E%3C/svg%3E");}
        .next:before{background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='16px' height='10px'%3E%3Cpath fill-rule='evenodd' fill='rgb(19, 19, 19)' d='M16.010,1.661 L8.000,10.011 L-0.009,1.661 L1.592,-0.009 L8.000,6.671 L14.408,-0.009 L16.010,1.661 Z'/%3E%3C/svg%3E");}
        .prev:after{content:'이전글';}
        .next:after{content:'다음글';}
    }
}
.listViewBtn{
    text-align:center;margin-top:100px;
    .button{width:400px;max-width:100%;}
}
@media screen and (max-width:1000px) {
    .listView{
        >.info{
            display:block;
            ul{
                margin-top:15px;
            }
        }
    }
}
@media screen and (max-width:767px) {
    .listView{
        >.info{
            padding:20px 0;
            .tit{font-size:18px;}
            ul{font-size:14px;}
        }
        >.cont{padding:30px;}
        >.navi{
            >a,
            >div{
                padding:20px 0 20px 30px;
                &:before{right:auto;left:0;}
                &:after{content:none !important;}
            }
        }
    }
    .listViewBtn{
        margin-top:40px;
        .button{width:100%;}
    }
}

.processWrap{
    padding:140px 0;
    .list{
        margin-top:95px;overflow:hidden;
        ol{
            &:after{content:'';display:block;clear:both;}
            margin-right:-70px;
            >li{
                float:left;width:16.66%;padding-right:70px;
                &:last-child{
                    .circle:after{content:none;}            
                }
            }
        }
    }
    .circle{
        position:relative;display:flex;width:175px;height:175px;color:#ffc001;font-weight:bold;background:#262f61;border-radius:50%;align-items:center;justify-content:center;flex-direction:column;
        &:after{content:'';position:absolute;right:-37px;bottom:50%;display:block;width:40px;height:15px;transform:skewX(45deg);border:1px solid #262f61;border-width:0 1px 1px 0;transform-origin: right bottom;}
        .num{margin-bottom:12px;}
    }
    .cont{
        padding-left:35px;padding-top:10px;font-size:20px;line-height:1.5;
        dt{font-weight:bold;}
        .th{margin-top:30px;text-transform:uppercase;}
    }
}
@media screen and (max-width:1400px) {
    .processWrap{
        .list{
            ol{
                margin-right:0;
                >li{
                    width:25%;padding-bottom:50px;padding-right:50px;
                    &:nth-child(4n+1){clear:both;}
                }
            }
        }
    }
}
@media screen and (max-width:1200px) {
    .processWrap{
        .list{
            ol{
                margin-right:0;
                >li{
                    float:none;width:auto;
                    >.in{display:flex;}
                    +li{margin-top:30px;}
                }
            }
        }
        .circle{
            margin-bottom:40px;flex:0 0 175px;
            &:after{bottom:-37px;right:auto;left:50%;height:40px;width:15px;transform:skewY(-45deg);border-width:0 0 1px 1px;transform-origin:left bottom;}
        }
        .cont{
            flex: 1 1 auto;display:flex;padding-left:20px;padding-top:0;
            flex-wrap:wrap;
            >dl,
            >div{padding:10px 20px 20px;}
            .th{margin-top:0;}
        }
    }
}
@media screen and (max-width:767px) {
    .processWrap{
        padding:60px 0;
        .list{
            margin-top:40px;
            ol{
                >li{
                    +li{margin-top:15px;}
                }
            }
        }
        .circle{
            width:140px;height:140px;flex:0 0 140px;
            .num{margin-bottom:10px;}
        }
        .cont{
            font-size:16px;padding-left:0;
        }
    }
}

.oneStopService{
    padding:150px 0;
    .innerBox:after{content:'';display:block;clear:both;}
    .tit{float:left;width:33.285%;font-size:48px;line-height:1.2;margin-top:-0.25em;}
    .cont{margin-left:33.285%;}
    .txt{line-height:1.6;}
    .list{
        margin-top:95px;
        li{
            display:table;width:100%;
            +li{margin-top:20px;}
            >div{display:table-cell;}
        }
        .ico{
            width:120px;
            i{
                display:block;width:120px;height:120px;background-repeat:no-repeat;background-position:center center;background-size:contain;
                &.ico1{background-image: url(../images/capability/oneStopService-ico01.png);}
                &.ico2{background-image: url(../images/capability/oneStopService-ico02.png);}
                &.ico3{background-image: url(../images/capability/oneStopService-ico03.png);}
                &.ico4{background-image: url(../images/capability/oneStopService-ico04.png);}
                &.ico5{background-image: url(../images/capability/oneStopService-ico05.png);}
            }
        }
        .text{padding-left:40px;vertical-align:middle;font-weight:bold;color:#111;line-height:1.6;}
    }
}

@media screen and (max-width:767px) {
    .oneStopService{
        padding:60px 0;
        .tit{float:none;width:auto;font-size:25px;margin-top:0;}
        .cont{margin-left:0;margin-top:30px;}
        .list{
            margin-top:40px;
            .ico{
                width:80px;
                i{
                    display:block;width:80px;height:80px;
                }
            }
            .text{padding-left:20px;}
        }
    }
}

.tabWrap{display:flex;justify-content:flex-end;}
.tabmenu{
    display:flex;
    a {
        display:flex; position:relative; width:220px; height:60px; padding:0 60px 0 30px; border:1px solid #ccc; border-bottom-color:#111; align-items: center; font-size:16px; color:#999;
        + a { margin-left:-1px;}
        &:after { content:''; display:block; position:absolute; top:50%; right:29px; width:23px; height:17px; transform: translateY(-50%); background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='23px' height='17px'%3E%3Cpath fill-rule='evenodd' stroke='rgb(204, 204, 204)' stroke-width='2px' stroke-linecap='butt' stroke-linejoin='miter' fill='none' d='M2.771,6.253 L8.257,11.506 L18.131,2.050 L19.229,1.000 '/%3E%3C/svg%3E") no-repeat; background-size:contain;}
        &.on { 
            color:#111; font-weight:bold; border-color:#111; border-bottom-color:transparent;z-index:1;
            &:after { background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='23px' height='17px'%3E%3Cpath fill-rule='evenodd' stroke='rgb(0, 0, 0)' stroke-width='2px' stroke-linecap='butt' stroke-linejoin='miter' fill='none' d='M2.771,6.253 L8.257,11.506 L18.131,2.050 L19.228,1.000 '/%3E%3C/svg%3E")}
        }
    }
}
@media (max-width:1000px) {
    .tabWrap{justify-content:flex-start;}
    .tabmenu{
        display:flex;width:100%;
        a{width:100%;}
    }
}
@media (max-width:767px) {
    .tabmenu{
        a{
            height:50px;padding:0 40px 0 20px;font-size:15px;
            &:after{right:15px;width:16px;height:12px;}
        }
    }
}

.makePreventionTxt{
    padding:135px 0 90px;
    .innerBox{
        display:flex;
        >div{padding-right:20px;width:100%;}
    }
    .tit{font-size:50px;line-height:1.2;}
    .sub{font-size:30px;line-height:1.2;margin-top:30px;}
    .cont{
        padding-top:150px;
        .txt{
            line-height:1.8;
            +.txt{margin-top:2em;}
        }
    }
}
.makePreventionBg{
    height:480px;margin-top:150px;background:url(../images/capability/explosion-proof-bg.png) no-repeat center center fixed;background-size:cover;
    .img{position:relative;top:-150px;width:466px;height:404px;background:url(../images/capability/explosion-proof.png) no-repeat center center;background-size:contain;}
}
@media (max-width:767px) {
    .makePreventionTxt{
        padding:60px 0 30px;
        .innerBox{
            display:block;
            >div{
                padding-right:0;width:auto;
                +div{margin-top:40px;}
            }
        }
        .tit{font-size:28px;}
        .sub{font-size:20px;margin-top:15px;}
        .cont{
            padding-top:0;
        }
    }
    .makePreventionBg{
        height:200px;margin-top:80px;background-attachment:local;
        .img{top:-80px;width:200px;height:173px;}
    }
}

.preventionWrap{
    padding:150px 0;
    .preventionTitle{
        font-size:48px;line-height:1;
        small{display:block;font-size:30px;font-weight:normal;}
        strong{display:block;margin-top:30px;}
    }
    .preventionTop{
        position:relative;overflow:hidden;
        &:before{content:'';display:block;position:absolute;top:0;left:50%;width:50%;margin-left:234px;height:290px;background:#262f61;}
        .preventionTopIn{
            &:after{content:'';display:block;clear: both;}
        }
        .preventionTitle{float:left;}
        .preventionTopImg{float:right;background: #262f61;}
        .subTitile{margin-top:-30px;}
    }

    .subTitile{
        margin-top:74px;font-size:24px;color:#ffc001;font-weight:normal;
        +.listTable,
        +.tblWrap{margin-top:20px;}
        +.txt{margin-top:7px;}
        +.list{margin-top:12px;}
    }

    .txt{
        line-height:1.6;
        &.list{
            li{
                position:relative;padding-left:15px;
                &:before{content:'';position:absolute;display:block;left:0;top:0.7em;width:3px;height:3px;border-radius:50%;background:#131313;}
                +li{margin-top:5px;}
            }
        }
        +.listTable,
        +.tblWrap{margin-top:33px;}
    }
    .listTable+.list,
    .tblWrap+.list{margin-top:47px;}
    .tblWrap{
        display:flex;margin:0 -20px;
        >div{width:100%;padding:0 20px;}
        .tdLh{line-height:1.8;}
    }
    .preventionMiddleImg{
        background:#efefef;padding:70px 0;margin-top:80px;
        .flex{
            >div{text-align:center;}
        }
        img{max-width:100%;}
    }
}

@media (max-width:1400px) {
    .preventionWrap{
        .preventionTop{
            &:before{content:none;}
            .preventionTopImg{margin-right:-20px;}
        }
    }
}

@media (max-width:1200px) {
    .preventionWrap{
        .preventionTop{
            .preventionTitle{float:none;}
            .preventionTopImg{
                float:none;margin-left:60%;margin-top:10px;
                img{max-width:100%;}
            }
        }
    }
}
@media (max-width:767px) {
    .preventionWrap{
        padding:60px 0;
        .preventionTop{
            .subTitile{margin-top:-23px;}
        }
        .preventionTitle{
            font-size:25px;
            small{font-size:16px;}
            strong{margin-top:20px;}
        }

        .subTitile{font-size:20px;margin-top:40px;}
        .listTable+.list,
        .tblWrap+.list{margin-top:27px;}
        .tblWrap{
            display:block;margin:0;
            >div{
                width:auto;padding:0;
                +div{margin-top:40px;}
            }
            .tdLh{line-height:1.8;}
        }
    }
}