@charset "utf-8";

 /* ==============================
 * main
 * ============================== */
 #headerWrap{
    &.main{
        &:not(.hover):not(.scrollBg){
            #header{
                border-bottom:1px solid rgba(255,255,255,0.1);background:none;transition: all .3s ease;
                .logo a{background-image:url('../images/common/logo_main.png');}
				.btnMenu{
					span{
						background:#fff;
						&:before,
						&:after{background:#fff;}
					}
				}
            }
            .gnbWrap{
                .gnb > ul > li{
					&> a{
						color:#ffffff;
						&.on,
						&:hover{color:#ffc001;}
					}
				}
				.util{
					&>a{color:#fff;}
					.language a.on{color:#fff;}
				}
            }
        }
    }
}
#container.main{margin-top:0;margin-bottom:0;}
[class*=mainSec]{
	position:relative;
	.textBox{
		color:#fff;word-break:break-all;
		h1{font-size:80px;line-height:1.18;letter-spacing:-0.02em;}
		.text{margin-top:30px;font-size:18px;}
	}
	&:after{content:'';display:block;clear:both;}
}
.mainSec01{
	height:100vh;
	.visualBg {
		position:fixed;top:0;overflow:hidden;width:100%;height:100%;background:url('../images/main/main-posterg.png') no-repeat center center;background-size:cover;
		video{position:absolute;top:50%;left:50%;width:100%;height:100%;transform:translate(-50%,-50%);}
		.mask{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.5);}
	}
	.innerBox{position:relative;height:100%;display:flex;padding-top:80px;align-items:center;}
	.textBox{
		h1{font-size:100px;}
		.text{margin-top:35px;}
	}
}

.mainSec02{
	background:rgba(48,55,91,0.95);padding:150px 0;
	.textBox{
		float:left;width:45.1429%;padding-right:20px;padding-top:9.6428%;
		.link{
			margin-top:64px;
			a{
				display:block;color:#ffc001;
				&:after{content:'';display:block;width:61px;height:16px;margin-top:22px;background:url(../images/main/main-link-arr.png) no-repeat center center;background-size:contain;}
				&:hover:after{animation:mainArrRight 1.5s infinite;}
			}
		}
	}
	.imgBox{
		float:right;width:54.8571%;
		&:after{content:'';display:block;clear:both;}
		li{
			padding:20px;width:50%;
			&:first-child{
				padding-top:0;
				+li{padding-top:23.3%;}
			}
			&:last-child{padding-bottom:0;}
			&:nth-child(odd){float:left;padding-left:0;}
			&:nth-child(even){float:right;padding-right:0;}
		}
		.box{
			display:block;position:relative;overflow:hidden;
			img{width:100%;transition:1s;}
			&:hover{
				img{transform:scale(1.15);}
			}
			.txt{
				position:absolute;left:0;bottom:0;width:100%;padding:13.73%;color:#fff;
				strong{display:block;font-size:24px;margin-bottom:17px;}
				div{font-weight:300;text-transform:uppercase;}
			}
		}
	}
}

.mainSec03{
	background:#fff;padding:130px 0 150px;
	.textBox{color:#131313;}
	.productBox{
		display:flex;margin-top:86px;
		li{
			width:100%;
			+li{margin-left:40px;}
		}
		.box{
			position:relative;display:block;overflow:hidden;text-align:center;background:#f8f8f8;
			img{width:100%;transition:1s;}
			&:after{content:'';display:block;width:34px;height:34px;position:absolute;right:9.09%;bottom:9.09%;background:url(../images/main/main-product-ico.png) no-repeat center center;background-size:contain;transition:1s ease;}
			&:hover{
				img{transform:scale(1.15);}
				&:after{transform:rotate(720deg);}
			}
			.txt{
				position:absolute;left:0;top:0;width:100%;padding:12.27% 9.09% 0;color:#131313;text-align:left;
				strong{display:block;font-size:42px;margin-bottom:12px;}
				div{text-transform:uppercase;}
			}
		}
	}
}

.mainSec04{
	position:relative;background:url(../images/main/main-sec04-bg.png) no-repeat center center;background-size:cover;
	.textBox>a{
		position:relative;display:block;padding:130px 0 150px;z-index:1;
		.text{
			position:relative;padding-right:70px;
			&:after{content:'';display:block;position:absolute;bottom:4px;right:0;width:61px;height:16px;margin-top:22px;background:url(../images/main/main-link-arr.png) no-repeat center center;background-size:contain;}
		}
		&:hover .text:after{animation:mainArrLeft 1.5s infinite;}
	}
}
@keyframes mainArrRight{
	0%, 100%{transform:translateX(0);}
	50%{transform:translateX(30%);}
}
@keyframes mainArrLeft{
	0%, 100%{transform:translateX(0);}
	50%{transform:translateX(-30%);}
}

.mainSec05{
	padding:130px 0 150px;background:#ffc001;
	.textBox{color:#131313;}
	.mail{
		text-align:right;margin-top:45px;
		>div{display:inline-flex;width:892px;padding-right:40px;max-width:100%;}
		.input{
			flex:1 1 auto; 
			input{border-color:#fff;}
		}
		.button{flex:0 0 200px;margin-left:20px;}
	}
}

@media screen and (max-width:1400px) {
	[class*=mainSec]{
		.textBox{
			h1{font-size:60px;}
		}
	}
	.mainSec01 .textBox h1{font-size:80px;}
	.mainSec03 .productBox .box .txt strong{font-size:28px;}
	.mainSec05 .mail>div{padding-right:0;}
}

@media screen and (max-width:1024px) {
	.mainSec02{padding:80px 0;}
	.mainSec02 .textBox,
	.mainSec02 .imgBox{float:none;width:auto;}
	.mainSec02 .textBox{padding-top:0;}
	.mainSec02 .imgBox{margin:40px -10px 0;}
	.mainSec02 .imgBox li:nth-child(odd),
	.mainSec02 .imgBox li:nth-child(even){float:left !important;padding:0 10px;width:25%;}
	.mainSec02 .imgBox li:nth-child(even){padding-top:80px !important;}
	.mainSec02 .imgBox .box .txt{padding:20px;font-size:14px;}
	.mainSec02 .imgBox .box .txt strong{font-size:20px;}

	.mainSec03{padding:80px 0;}
	.mainSec03 .productBox{margin-left:-20px;margin-right:-20px;overflow-y:hidden;overflow-x:auto;}
	.mainSec03 .productBox li:first-child{padding-left:20px;}
	.mainSec03 .productBox li:last-child{padding-right:20px;}
	.mainSec03 .productBox li+li{margin-left:20px;}
	.mainSec03 .productBox .box{min-width:200px;}
	.mainSec03 .productBox .box .txt{padding:20px;font-size:14px;}
	.mainSec03 .productBox .box .txt strong{font-size:20px;}

	.mainSec04 .textBox>a{padding:80px 0;}

	.mainSec05{padding:80px 0;}
	.mainSec05 .mail .button{flex:0 0 120px;margin-left:10px;}
}

@media screen and (max-width:767px) {
	// .mainSec01{min-height:500px;}
	[class*=mainSec] .textBox h1{font-size:9vw;}
	[class*=mainSec] .textBox .text{font-size:16px;margin-top:20px;}
	.mainSec01 .textBox h1{font-size:11vw;}
	.mainSec02{padding:60px 0;}
	.mainSec02 .textBox .link{margin-top:30px;}
	.mainSec02 .imgBox{margin-left:-5px;margin-right:-5px;}
	.mainSec02 .imgBox li:nth-child(odd),
	.mainSec02 .imgBox li:nth-child(even){width:50%;padding:0 5px;}
	.mainSec02 .imgBox li:nth-child(3){margin-top:-70px;}
	.mainSec02 .imgBox li:nth-child(4){margin-top:-70px;}
	.mainSec02 .imgBox .box .txt{font-size:13px;padding:15px;}
	.mainSec02 .imgBox .box .txt strong{font-size:16px;margin-bottom:10px;}
	.mainSec03{padding:60px 0;}
	.mainSec03 .productBox{margin-top:40px;}
	.mainSec04 .textBox>a{padding:60px 0;}
	.mainSec04 .textBox h1{font-size:8vw;}
	.mainSec05{padding:60px 0;}
}